<h2>Create a new regression test</h2>

<%= form_with(model: @test, local: true) do |form| %>
  <input name="_method" type="hidden" value="patch" />
  <div class="form-group">
    <label for="PriorityFormControl">Test Name</label>
    <input type="text" class="form-control" id="user_email" name="test[name]" value="<%= @test.name %>" >
  </div>
  <div class="form-group" id="PriorityFormControl" >
    <label for="exampleFormControlSelect1">Priority</label>
    <select class="form-control" id="exampleFormControlSelect1" name="test[priority]" value=<%= @test.priority %>>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Persona</label>
    <select class="form-control" id="exampleFormControlSelect2" name="test[persona]" value=<%= @test.persona %>>
      <option>Eric</option>
      <option>Adam</option>
      <option>Isaac</option>
      <option>Deborah</option>
      <option>Sam</option>
    </select>
  </div>
  <div class="form-group">
    <label for="DescriptionFormTextArea">Description</label>
    <textarea class="form-control" id="DescriptionFormTextArea" rows="3" name="test[description]"> <%= @test.description %></textarea>
  </div>
  <%= link_to 'Cancel', tests_path %>
  <%= (link_to '<i class="fas"></i> Delete'.html_safe, test_path(@test),
        method: :delete,
        data: {confirm: 'Are you sure you want to delete this item? This action cannot be undone.'},
        :class => "btn btn-secondary"
      )
      %>
  <button type="submit" class="btn btn-primary">Save Changes</button>
<% end %>
