<h1>All Tests</h1>
<%= link_to 'Create new test', new_test_path %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Priority</th>
      <th scope="col">Persona</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.name, edit_test_path(test) %></td>
      <td><%= test.priority %></td>
      <td><%= test.persona %></td>
      <td><%= auto_link(simple_format(test.description)) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
